body {
    font-family: 'Roboto', sans-serif;
}

header,
main,
footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid #bbb;
    padding: 1rem;
    background-color: #96c2f1;
    /* A blueish background color */
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    /* Even gap between grid items */
}

section {
    padding: 1rem;
    background-color: #fff;
}